@font-face {
    font-family: "Saol Display";
    src: url(/fonts/Saol_Display_Regular.ttf);
}

@font-face {
    font-family: "Maison Neue";
    src: url(/fonts/Maison_Neue_Mono_Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins_Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins_Regular.ttf);
    font-weight: 400;
}

.collectionInnerOne {
    width: 100%;
    height: 70vh;
    margin-bottom: 100px;
}

.collectionInnerOne_container {
    width: 100%;
    height: 100%;
}

.collectionInnerOne_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collectionInnerTwo {
    width: 90%;
    height: 100%;
    margin: 0 auto 100px auto;
    max-width: 1550px;
}

.collectionInnerTwo_container {
    width: 60%;
    margin: auto;
    height: 100%;
    text-align: center;
}

.collectionInnerTwo_container>h1 {
    font-size: 40px;
    font-family: "Saol Display";
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 5px;
}

.collectionInnerTwo_container>h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Maison Neue";
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 50px;
}

.collectionInnerTwo_container>p {
    font-family: 'Poppins';
    color: #101010;
    font-weight: 400;
    font-size: 16px;
}

.collectionInnerThree {
    max-width: 1550px;
    width: 90%;
    margin: 0 auto 100px auto;
}

.collectionInnerThree_container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.collectionInnerThree_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 850px;
}

.collectionInnerThree_container>img:nth-child(1),
.collectionInnerThree_container>img:nth-child(4) {
    grid-column: span 4;
}

.collectionInnerThree_container>img:nth-child(2),
.collectionInnerThree_container>img:nth-child(3),
.collectionInnerThree_container>img:nth-child(5),
.collectionInnerThree_container>img:nth-child(6) {
    grid-column: span 2;
}

@media (max-width: 899px) {
    
    .collectionInnerTwo_container {
        width: 100%;
    }

    .collectionInnerTwo_container > h1 {
        font-size: 30px;
    }

    .collectionInnerTwo_container > h2 {
        font-size: 12px;
    }

    .collectionInnerTwo_container > p {
        font-size: 12px;
    }

    .collectionInnerThree_container>img {
        grid-column: span 4 !important; 
        max-height: 500px;
    }

}